<GridLayout #container
            rows="auto, auto, *">

    <StackLayout #initialContainer
                 class="initial-container">
        <Image
                src="res://logo_login"
                stretch="none"
                class="initial-logo"></Image>
        <Label
                text="GROCERIES"
                class="initial-label"></Label>
        <StackLayout
                (tap)="scan()"
                class="initial-button">
            <Label
                    text="Scan"
                    class="initial-button-label"></Label>
        </StackLayout>
    </StackLayout>

</GridLayout>
