<GridLayout #container
            class="background"
            clas="initial-container"
            rows="auto, auto, *">
    <FlexboxLayout flexDirection="column">
        <FlexboxLayout flexDirection="row-reverse">
            <Button flexGrow="1" class="btn initial-logoff" text="log off" (tap)="logoff()"></Button>
            <Button flexGrow="2" class="btn initial-logoff" [text]="offline ? 'Offline' : 'Online'" (tap)="toogleMode()"></Button>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column">
            <Button class="btn initial-button" text="ВЫБРАТЬ ТРИБУНУ" (tap)="displayActionDialog()" fontSize="20"></Button>
            <Image class="text-center flash-icon" [src]="switchFlash ? 'res://flashon' : 'res://flashoff'" (tap)="toggleFlashLights()"></Image>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" height="55">
            <Label flexGrow="1" class="text-center white" >
                <FormattedString>
                    <Span text="{{'Трибуна: ' + tribune + ' - ' + count + ' aктивных билетов'}}" fontSize="14"></Span>
                </FormattedString>
            </Label>
            <Label *ngIf="message" flexGrow="1"  class="text-center font-weight-bold white">
                <FormattedString>
                    <Span text="{{ message }}" fontSize="16"></Span>
                </FormattedString>
            </Label>
            <Label *ngIf="ticket.headline" flexGrow="2" class="text-center font-weight-bold white" >
                <FormattedString>
                    <Span text="{{'Матч: ' + ticket.headline}}" fontSize="16"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" height="25">
            <Label *ngIf="ticket.tribune" flexGrow="1" class="text-left font-weight-bold white margin-left">
                <FormattedString>
                    <Span  text="{{'Трибуна: ' + ticket.tribune}}" fontSize="16"></Span>
                </FormattedString>
            </Label>
            <Label *ngIf="ticket.sector" flexGrow="2" class="text-right font-weight-bold white margin-right" >
                <FormattedString>
                    <Span  text="{{'Сектор: ' + ticket.sector}}" fontSize="16"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" height="25">
            <Label *ngIf="ticket.row" flexGrow="4"  class="text-left font-weight-bold white margin-left" >
                <FormattedString>
                    <Span  text="{{'Ряд: ' + ticket.row}}" fontSize="16"></Span>
                </FormattedString>
            </Label>
            <Label *ngIf="ticket.seat" flexGrow="4" class="text-right font-weight-bold white margin-right" >
                <FormattedString>
                    <Span  text="{{'Место: ' + ticket.seat}}" fontSize="16"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" height="100">
            <!--<Label flexGrow="3" class="text-center font-weight-bold white">-->
                <!--<FormattedString>-->
                    <!--<Span  text="Загрузка..." fontSize="16"></Span>-->
                <!--</FormattedString>-->
            <!--</Label>-->
            <Image  flexGrow="5" *ngIf="status === 'other'" class="text-center status-image" src="res://othertribune"></Image>
            <Image  flexGrow="5" *ngIf="status === 'notOk'" class="text-center status-image" src="res://notok"></Image>
            <Image  flexGrow="5" *ngIf="status === 'ok'" class="text-center status-image" src="res://ok"></Image>
        </FlexboxLayout>
        <StackLayout class="initial-container">
            <Button class="btn button-scan" height="80" text="SCAN" (tap)="scan()" fontSize="20"></Button>
        </StackLayout>
    </FlexboxLayout>

</GridLayout>
