<GridLayout class="background">
    <FlexboxLayout flexDirection="column" class="initial-container">
        <TextField
                hint="Email"
                keyboardType="email"
                returnKeyType="next"
                (returnPress)="focusPassword()"
                [(ngModel)]="user.email"
                [isEnabled]="!isAuthenticating"
                autocorrect="false"
                autocapitalizationType="none"
                [class.light]="!isLoggingIn"
                row="0"></TextField>
        <TextField #password
                   hint="Пароль"
                   secure="true"
                   returnKeyType="done"
                   (returnPress)="submit()"
                   [(ngModel)]="user.password"
                   [isEnabled]="!isAuthenticating"
                   [class.light]="!isLoggingIn"
                   row="1"></TextField>
        <Button
                [text]="isLoggingIn ? 'ВОЙТИ' : 'ЗАРЕГИСТРИРОВАТЬСЯ'"
                [isEnabled]="!isAuthenticating"
                class="submit-button"
                (tap)="submit()"></Button>
        <StackLayout (tap)="toggleDisplay()">
            <Label [text]="isLoggingIn ? 'РЕГИСТРАЦИЯ' : 'ВХОД'" class="label"></Label>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>